.model-desc-link {
  // background-color: var(--badge-background-color);
  display: flex;
  justify-items: center;
  color: var(--badge-color);

  padding-left: 5px;
  padding-right: 5px;
  border-radius: 999px;
  text-decoration: none;
}

.model-capability-desc {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  gap: 6px 12px;
  font-size: 12px;
  margin-bottom: 10px;
}
